
.ui.ui.ui.menu .white.item,
.ui.ui.white.menu .item:hover,
.ui.ui.white.menu .item 
{
    color:#ffff;
}
.ui.secondary.pointing.menu {
    border-bottom: none !important; 
  }
  

.secondary a:hover {

 font-weight: 700;
}
